:host {
  display: block;
  margin: 1em 0;
}

#container {
  display: flex;
  flex-flow: column;
  place-content: center;
  place-items: center;
}

#error:empty {
  display: none;
}

canvas {
  max-width: min(800px, 80vw);
  max-height: min(600px, 60vh);
}
