:host {
  display: inline;
  user-select: all;
}

:host([mode='display']) {
  display: block;
  overflow: auto hidden;
  margin: 1em 0;
}

.cwe-styles {
  display: none;
}

.cwe-content {
  display: contents;
}

.katex-display {
  margin: 0;

  @media print {
    > .katex {
      white-space: normal;
    }
    .katex-html > .base {
      margin: 0.4em 0;
    }
    .katex-html {
      margin: -0.4em 0;
    }
  }
}

.error {
  color: var(--cwe-math-error-color, red);
}
