:host {
  display: block;
  margin: 1em 0;
  overflow: auto;
  white-space: pre-line;
}

:host([resizing]) {
  overflow: hidden;
}

svg {
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  white-space: initial;
}
